#divTable{
	height:300px;
	width:300px;
}
@keyframes myAnimation{
  		  /*from{left:10px;top:400px;}
  		  to{left:100px;top:450px;}*/
  		  10%{left:10px;top:400px;}
  		  30%{left:20px;top:450px;}
  		  50%{left:40px;top:400px;}
  		  70%{left:60px;top:450px;}
  		  100%{left:80px;top:400px;}
  		}
  		
  #imgAnimation{
  animation-name:myAnimation;
  animation-duration:4s;
  position:absolute;
 
  }